.header {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.empty-div {
  width: 21.2vw;
}

.header-mid {
  width: 21.2vw;
  min-height: 2.3vh;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21.2vw;
}

.telephone {
  width: 80px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

.telephone-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.2vw;
}

.telephone-box img {
  height: 12px;
  width: 8.7px;
}

.cart-icon-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 4.5vw;
}

.cart-icon img {
  height: 15px;
  width: 17.87px;
}

.cart-text {
  width: 39px;
  height: 15px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

.signup-button {
  width: 130px;
  height: 35px;
  background: #ffdb11;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-text {
  width: 99px;
  height: 18px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #1a1a1a;
}
