.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.4vh;
  width: 100vw;
}

.home-main-center-text-buttons {
  height: 13.84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.center-text {
  min-height: 48px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5vh;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.center-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 28vw;
}

.button1 {
  width: 130px;
  height: 40px;
  background: rgb(255, 255, 255);
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 1);
}

.button2 {
  width: 130px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 1);
}

.button3 {
  width: 130px;
  height: 40px;
  background: rgba(255, 219, 17, 1);
  border: none;
}
