.center-text {
  position: absolute;
  height: 48px;
  left: 672px;
  top: 336px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.button1 {
  position: absolute;
  width: 130px;
  height: 40px;
  left: 750px;
  top: 404px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 1);
}

.button2 {
  position: absolute;
  width: 130px;
  height: 40px;
  left: 895px;
  top: 404px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 1);
}

.button3 {
  position: absolute;
  width: 130px;
  height: 40px;
  left: 1040px;
  top: 404px;
background: rgba(255, 219, 17, 1);
border: none;
}
