.our-work-main-left {
  width: 30vw;
  border: 2px solid orangered;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
  text-align: left;
}

.our-work-main-left h1 {
  width: 193px;
  height: 60px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #1a1a1a;
}



.paragraph-real-estate {
  width: 426px;
  height: 96px;
  left: 260px;
  top: 1247px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #414141;
}

.real-estate-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 18vw;
  height: 40px;
  margin-top: 3vh;
  gap: 10px;
}

.real-estate-buttons button {
  width: 10vw;
  height: 40px;
}

.order-now-button {
  background: #ffdb11;
  border: none;
}

.how-it-works-button {
  border: 2px solid #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.how-it-works-button img {
  height: 12px;
  width: 11px;
}