.our-work-main-right {
  width: 60vw;
  border: 2px solid violet;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.big-image, .big-image img {
    height: 70vh;
    width: 55vw;
}